.text-sm {
  cursor: pointer;
}

.dropdown-item {
  cursor: pointer;
}

.fa-sort-down {
  color: black;
}

.fa-bell {
  font-size: 25px;
  text-align: center;
  color: black;
  cursor: pointer;
}


.input-group-alternative {
  width: 250px;
  margin-right: 430px;
}