<div class="header py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100"></div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-4">
  <div class="row justify-content-center">
    <div class="content first-content">
      <div class="first-column">
        <h2 class="title title-primary">Não tem uma conta?</h2>
        <p class="description description-primary">
          Venha fazer parte da nossa comunidade.
        </p>
        <button id="signin" class="btn btn-primary">
          Registrar
        </button>
      </div>
      <div class="second-column m-2">
        <h5 class="title-register mb-3">Login</h5>
        <!-- social media -->
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label class="label-input" for="">
            <i class="far fa-envelope icon-modify"></i>
            <input
              type="text"
              name="email"
              class="form-control"
              placeholder="E-mail"
              formControlName="email"
            />
          </label>

          <label class="label-input" for="">
            <i class="fas fa-lock icon-modify"></i>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Senha"
              formControlName="password"
            />
          </label>
          <a class="password" href="#">esqueceu a senha?</a>
          <button class="btn btn-second" type="submit">Logar</button>
        </form>
      </div>
      <!-- second column -->
    </div>
    <!-- first content -->
    <div class="content second-content">
      <div class="first-column">
        <h2 class="title title-primary">Fala Dev!</h2>
        <p class="description description-primary">
          Entrar com dados de autenticação.
        </p>
        <p class="description description-primary">e se junte a nós.</p>
        <button id="signup" class="btn btn-primary">Login</button>
      </div>

      <!-- second column -->
    </div>
    <!-- second-content -->
  </div>
</div>
